@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 24vw;
    position: relative;
}

.right {
    width: 76vw;
    height: 97.7vh;
    overflow-y: scroll;
    margin: 8px 8px 8px 0px;
}

.close {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
}

.logo {
    cursor: pointer;
}

.home ul {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-direction: column;
    gap: 10px;
}

.home ul li:first-child {
    font-size: 1.5rem;
}

.home ul li {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 12px;
    list-style: none;
    gap: 20px;
    font-weight: bold;
    cursor: pointer;
}

.home ul li img {
    width: 24px;
}

.li-2 {
    color: white;
}

.li-2:hover {
    color: yellow;
}

.heading {
    padding: 8px 16px;

}

.lib {
    margin-inline-end: auto;

}

.lib button {
    justify-content: center;
    align-items: center;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 4px 8px;
    color: rgb(167, 167, 167);
}

.lib button h3:hover {
    color: yellow;
}

.lib h3 {
    font-size: 1.05rem;
    font-weight: 500;
    margin-left: 12px;
    color: white;
}

.pIcon {
    width: 24px;
}

.plusIcon {
    width: 16px;
}

.remove {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 8px;
}

.songList {
    height: 248px;
    /* display: flex;
    flex-direction: column; */
    padding: 0px 8px 8px 8px;
    /* gap: 10px; */
    /* overflow: hidden; */
    overflow-y: scroll;
}

.songList ul {
    padding: 0 15px;
}

.songList ul li {
    list-style-type: decimal;
    padding: 12px 10px;
    border: 1px solid rgb(167, 167, 167);
    margin: 10px 0;
    display: flex;
    /* gap: 15px; */
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.info {
    font-size: 13px;
    width: 135px;
}

.playnow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.playnow span {
    font-size: 13px;
}

.footer {
    overflow: hidden;
}

.footer div .flex {
    display: flex;
    font-size: 11px;
    color: grey;
    flex-wrap: wrap;
    align-items: center;
}

.links {
    padding: 0px 24px;
    margin: 32px 0px;
    box-sizing: border-box;
}

.cook {
    font-size: 12px;
    margin-top: 16px;
    box-sizing: border-box;
}

.footer a {
    color: #b3b3b3;
    text-decoration: none;
}

.lang {
    padding: 0px 24px;
    margin-bottom: 25px;
}

.lang button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border: 1px solid grey;
    padding-left: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    position: relative;
    border-radius: 20px;
    font-weight: 500;
}

.lang button span img {
    width: 16px;
}

.lang button span {
    position: absolute;
    left: 10px;
    top: 7px;

}

.m-2 a {
    padding-bottom: 8px;
    padding-top: 5px;
    box-sizing: border-box;
}

.m-3 {
    margin-bottom: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    position: sticky;
    background-color: #121212;
    z-index: 1000;
    top: 0;
}

.header>* {
    padding: 8px 16px;
}

.b1 {
    background: none;
    color: white;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 4px 32px 4px 8px;
    font-weight: 700;
    font-size: 1rem;
}

.b1:hover {
    color: yellow;
    font-size: 1.02rem;
    transition: all 0.1s ease-in-out;
}

.nav {
    align-items: center;
    gap: 10px;
}

.hamburger {
    display: none;
}

.nav button {
    background: black;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 2px 4px;
    border-radius: 20px;
}

.b2 {

    font-weight: 700;
    font-size: 1rem;
    border-radius: 30px;
    box-sizing: border-box;
    border: 0;
    margin-right: 4px;
    margin-top: 1px;
    margin-left: 4px;
    cursor: pointer;
}

.b2 span:hover {
    padding: 13.5px 34px 13.5px 34px;
    transition: all 0.1s ease-in-out;
    font-weight: 800;

}

.b2:hover {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 0px;
    transition: all 0.1s ease-in-out;
}

.b2 span {
    padding: 13px 32px 13px 32px;
}

.button {
    display: flex;
    justify-content: center;
}

.playlist {
    padding: 8px 19px 0px 19px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.head h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

.head h3:hover {
    text-decoration: underline;
}

.head span {
    color: rgb(167, 167, 167);
    font-size: 0.95rem;
    font-weight: 400;
}

.head span:hover {
    text-decoration: underline;
}

.card img {
    width: 160px;
    height: 165px;
    border-radius: 90px;
}

.card {
    padding: 9px;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: center;
    /* width: 160px; */
}

.card:hover {
    background-color: #1a1a1a;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover .custom-button {
    opacity: 1;
    top: 130px;
}

.custom-button {
    background-color: #1ED760;
    padding: 8px 10px;
    /* Adjust the padding values as needed */
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 30px;
    position: absolute;
    top: 140px;
    right: 27px;
    opacity: 0;
    transition: all 0.1s ease-in;
    margin: 1.5px;
}

.custom-button:hover {
    padding: 9.5px 11.5px;
    margin: 0px;
}

.custom-button svg {
    width: 24px;
    height: 24px;
}

.section1 {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.albumContainer {
    /* display: grid;
    grid-template-columns: repeat(6, 1fr); */
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.album-card img {
    width: 160px;
    height: 165px;
    border-radius: 5px;
}

.albumInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.albumInfo div {
    margin-top: 4px;
    color: rgb(167, 167, 167);
    font-size: 0.85rem;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
}

.playbar {
    position: fixed;
    bottom: 8px;
    background-color: rgb(71, 70, 70);
    width: 73.7%;
    padding: 12px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 10px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.seekbar {
    height: 3px;
    width: 99.5%;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #000000;
    position: relative;
    bottom: 7px;
    left: 0%;
    transition: left 0.5s;
}

.abovebar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.songinfo,
.timevol {
    color: white;
    padding: 0 15px;
}

.songtime {
    display: flex;
    justify-content: flex-end;
}

.timevol {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.range {
    display: flex;
    align-items: center;
}

.range input {
    height: 5px;
}

@media only screen and (max-width:1025px) {
    .left {
        position: absolute;
        left: -50%;
        z-index: 10000;
        transition: all 1s;
        width: 400px;
        background-color: #000000;
    }

    .right {
        width: 100vw;
        margin: 8px 8px 8px 8px;
    }

    .playbar {
        width: 95%;
        margin: 5px;
    }

    .hamburger {
        display: block;
    }

    .close {
        display: block;
    }

    .songList {
        height: 500px;
    }
}

@media only screen and (max-width:850px) {
    .playbar {
        margin: 0;
        width: 95%;
    }

    .timevol {
        flex-direction: column;
    }
}

@media only screen and (max-width:780px) {
    .playbar {
        margin: 0;
        width: 94%;
    }
}

@media only screen and (max-width:450px) {
    .left {
        position: absolute;
        left: -100%;
        z-index: 10000;
        transition: all .5s;
        width: 100%;
        background-color: #000000;
    }

    .playbar {
        width: 95%;
        margin: 5px;
    }

    .songList {
        height: 450px;
    }

    .abovebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .timevol {
        flex-direction: row;
    }
    .playbar{
        width: 87%;
    }
    .card{
        width: 280px;
    }
    .album-card img {
        width: 280px;
        height: 280px;
        border-radius: 5px;
    }
    .albumContainer{
        justify-content: center;
    }
    .albumInfo div {
        font-size: 1rem;
        width: 260px;
    }
    .albumInfo a{
        font-size: 1.3rem;
    }
    .playlist{
        margin-bottom: 150px;
    }
    .card:hover .custom-button {
        top: 230px;
    }
}

@media only screen and (max-width:400px) {
    .songList {
        height: 400px;
    }
}